@import abstracts/_variables
@import abstracts/_styles

@import base/_globals
@import base/_typography

@import layout/_layouts

.fcb2.sheet
  form
    .header-fields
      .name > input[type="text"]
        font-size: 1.5em

.fcb2.sheet.item
  form
    .content
      display: flex
      height: 100%
      width: 100%
      flex-direction: column

      .editor
        background-color: $light
        height: 100%

.fcb2.sheet.actor
  form
    .header-fields
      .class
        grid-template-columns: 2fr repeat(3, 1fr)
    .content
      .core
        grid-template-columns: 30% 1fr
