include abstracts/_mixins.pug

form(class="{{cssClass}}" autocomplete="off")
  header.sheet-header
    img.weapon-img(data-edit="img" src="{{character.img}}" title="{{character.name}}")
    .header-fields.grid.grid-row-gap
      .grid.auto-2column.grid-column-gap.font-smallcap
        +textInput("name", "character")
      .grid.grid-2column.grid-column-gap.font-smallcap
        each val in ['class', 'level']
          .grid.auto-2column.grid-column-gap
            +textInput(val, "character")
  hr

  section.content