form(class="{{cssClass}}" autocomplete="off")
  header.sheet-header
    img.weapon-img(data-edit="img" src="{{item.img}}" title="{{item.name}}")
    .header-fields
      .gridrow
        input(name="name" type="text" value="{{item.name}}")
    .template-type
      | {{item.type}}
  div
    | {{localize "forcoinblood2e.weapon.attackWith"}}
    select(name="data.attackwith")
      | {{#select data.attackWith}}
      | {{#each config.attackTypes as |name type|}}
      option(value="{{type}}")
        | {{localize name}}
      | {{/each}}
      | {{/select}}