include abstracts/_mixins.pug

form(class="{{cssClass}}" autocomplete="off")
  header.sheet-header
    img.weapon-img(data-edit="img" src="{{item.img}}" title="{{item.name}}")
    .header-fields
      .grid.text-capitalize
        input(name="name" placeholder="name" type="text" value="{{item.name}}")
      .grid
        .template-type.text-capitalize
          | {{item.type}}
  hr

  section.content
    .attributes
      .grid.grid-2column
        .div
          +textInput("weight", "weapon")
        .div 
          +textInput("cost", "weapon")
      .grid 
        +textInput("properties", "weapon")
    .description
      +label('description', 'weapon')
    | {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}

    //- | {{localize "forcoinblood2e.weapon.attackWith"}}
    //- select(name="data.attackwith")
    //-   | {{#select data.attackWith}}
    //-   | {{#each config.attackTypes as |name type|}}
    //-   option(value="{{type}}")
    //-     | {{localize name}}
    //-   | {{/each}}
    //-   | {{/select}}