.fcb2 .border {
  border: 0.15em solid #4c4c4c; }

.fcb2 .thin-border {
  border: 0.1em solid #4c4c4c; }

.fcb2 .bottom-border {
  border-bottom: 0.2em solid black; }

.fcb2 form {
  display: flex;
  flex-direction: column; }
  .fcb2 form input[type="text"],
  .fcb2 form input[type="number"] {
    background-color: transparent;
    border-bottom: 0.15em solid black;
    width: 100%; }
    .fcb2 form input[type="text"]::placeholder,
    .fcb2 form input[type="number"]::placeholder {
      background-color: #b9dadf;
      border: 0.1em dotted #79016f; }
    .fcb2 form input[type="text"]:hover, .fcb2 form input[type="text"]:focus,
    .fcb2 form input[type="number"]:hover,
    .fcb2 form input[type="number"]:focus {
      background-color: #b9dadf;
      transform: scale(1.05); }

.fcb2 hr {
  width: 100%; }

.fcb2 label {
  align-items: center;
  display: grid;
  font-weight: bold;
  text-transform: capitalize; }

.fcb2 .font-weight-bold {
  font-weight: bold; }

.fcb2 .font-smallcap {
  font-variant: small-caps; }

.fcb2 .text-capitalize {
  text-transform: capitalize; }

.fcb2 .text-center {
  text-align: center; }

.fcb2 .text-italic {
  font-style: italic; }

.fcb2 .text-left {
  text-align: left; }

.fcb2 .text-primary {
  color: #79016f; }

.fcb2 .text-right {
  text-align: right; }

.fcb2 .text-uppercase {
  text-transform: uppercase; }

.fcb2 .grid {
  display: grid; }

.fcb2 .grid-column-gap {
  grid-column-gap: 1%; }

.fcb2 .grid-row-gap {
  grid-row-gap: 0.5rem; }

.fcb2 .grid-inline {
  display: inline-grid; }

.fcb2 .grid-2column {
  grid-template-columns: repeat(2, 1fr); }

.fcb2 .grid-3column {
  grid-template-columns: repeat(3, 1fr); }

.fcb2 .grid-4column {
  grid-template-columns: repeat(4, 1fr); }

.fcb2 .auto-2column {
  grid-template-columns: auto 1fr; }

.fcb2 .align-content-center {
  align-content: center; }

.fcb2 .align-items-center {
  align-items: center; }

.fcb2 .justify-content-center {
  justify-content: center; }

.fcb2.sheet form .header-fields .name > input[type="text"] {
  font-size: 1.5em; }

.fcb2.sheet.item form .content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column; }
  .fcb2.sheet.item form .content .editor {
    background-color: #b9dadf;
    height: 100%; }

.fcb2.sheet.actor form .header-fields .class {
  grid-template-columns: 2fr repeat(3, 1fr); }

.fcb2.sheet.actor form .content .core {
  grid-template-columns: 35% 1fr;
  grid-column-gap: 2%; }
  .fcb2.sheet.actor form .content .core input {
    height: 100%; }
  .fcb2.sheet.actor form .content .core .attributes {
    grid-template-rows: repeat(9);
    grid-row-gap: 5px; }
    .fcb2.sheet.actor form .content .core .attributes .attribute_value {
      grid-template-columns: 3rem 1fr 2rem; }
      .fcb2.sheet.actor form .content .core .attributes .attribute_value .attribute_header {
        background-color: #222;
        color: #fff;
        padding-left: 2%;
        font-size: 1.1em; }
        .fcb2.sheet.actor form .content .core .attributes .attribute_value .attribute_header .descriptor {
          font-size: 0.75em;
          margin-right: 2%; }
      .fcb2.sheet.actor form .content .core .attributes .attribute_value input {
        border-radius: 0em; }
    .fcb2.sheet.actor form .content .core .attributes .attribute_description {
      grid-template-columns: 1fr; }
      .fcb2.sheet.actor form .content .core .attributes .attribute_description input {
        background-color: rgba(77, 77, 77, 0.0784314); }

.fcb2.sheet.actor form .content .details .damage, .fcb2.sheet.actor form .content .details .lifeblood, .fcb2.sheet.actor form .content .details .notes {
  margin-bottom: 5px;
  padding: 2% 2.5%; }

.fcb2.sheet.actor form .content .details .damage {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3; }

.fcb2.sheet.actor form .content .details .lifeblood {
  grid-area: 3 / 1 / 3 / 3;
  grid-template-columns: 1fr 1fr 1rem 1fr; }

.fcb2.sheet.actor form .content .details .notes {
  min-height: 150px; }
